$primaryblue: #0176DE;
$blue: #173F8A;
$darkblue: #03122E;
$yellow: #FEC60D;
$darkyellow: #E3AE00;
$gray: #808080;
$lightgraya: #EAEAEA;
$lightgrayb: #F0F0F0;
$lightgrayc: #F6F6F6;
$darkgray: #CDCACA;
