// colores institucionales UC
$primaryblue: #0176DE;
$blue: #173F8A;
$darkblue: #03122E;
$yellow: #FEC60D;
$darkyellow: #E3AE00;

//grises
$gray: #757575;
$lightgraya: #EAEAEA;
$lightgrayb: #F0F0F0;
$lightgrayc: #F6F6F6;
$darkgray: #CDCACA;

// alertas y mensajes
$error: #F24F4F;
$info: #0176DE;
$warning: #FEC60D;
$success: #00AA00;
