.uc-icon {
  color: $primaryblue;
  vertical-align: middle;
  &.rounded-background {
    background-color: $primaryblue;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
    &.small {
      padding: 3px;
      font-size: 11px !important;
    }
  }
  &.small {
    font-size: 16px;
  }
}
