.uc-icon {
  color: $primaryblue;
  vertical-align: middle;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  &.icon-rounded {
    background-color: $primaryblue;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
    &.icon-small {
      padding: 3px;
      font-size: 11px !important;
    }
  }
  &.icon-small {
    font-size: 16px;
    line-height: 1.1;
  }
  &.icon-large {
    font-size: 57px;
  }
}
