@import url('https://fonts.googleapis.com/css?family=Material+Icons|Roboto+Slab|Roboto:300,400,500,500i,700');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  @extend .uc-link;
  color: inherit;
  text-decoration: underline;
  &.link-inline {
    text-decoration: underline;
    color: $primaryblue;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 0;
  }
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.1875;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 2.5em;
    line-height: 1.3;
  }
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.16;
  letter-spacing: 0.18px;
  font-weight: 500;
  @include media-breakpoint-up(lg) {
    font-size: 2em;
    line-height: 1.2;
  }
}

h3, .h3 {
  font-size: 1.25em;
  letter-spacing: 0.18px;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    line-height: 1.2;
  }
}

h4, .h4 {
  font-size: 1.125em;
  letter-spacing: 0.25px;
  line-height: 1.2;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    font-size: 1.25em;
  }
}

h5, .h5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.1px;
  @include media-breakpoint-up(lg) {
    line-height: 1.3;
    font-size: 1.125em;
  }
}

h6, .h6 {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.1px;
  @include media-breakpoint-up(lg) {
    font-size: 1em;
    line-height: 1.5;
  }
}

p, .p {
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: 0.5px;
  @include media-breakpoint-up(lg) {
    line-height: 1.5;
  }
  &.p-large {
    font-size: 1.125em;
    line-height: 1.7;
  }
  &.p-small {
    font-size: 0.875em;
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      line-height: 1.1;
    }
  }
  &.p-xlarge {
    font-size: 1.25em;
    line-height: 1.4;
    letter-spacing: 0.6px;
    @include media-breakpoint-up(lg) {
      font-size: 1.5em;
      line-height: 1.6;
      letter-spacing: 0.18px;
    }
  }
  &.p-gray {
    color: $gray;
  }
  &.p-condensed {
    letter-spacing: 0;
  }
  &.p-extended {
    letter-spacing: 1px;
  }
}

.text-medium {
   font-weight: 500;
 }

.text-bold {
  font-weight: 700;
}

.uc-link {
  font-size: 1em;
  color: $primaryblue;
  letter-spacing: 0.51px;
  &.link-secondary {
    color: #fff;
  }
  .uc-icon {
    font-size: 16px;
    vertical-align: middle;
  }
  &.external {
    .uc-icon {
      font-size: 10px;
      vertical-align: top;
    }
  }
}

.uc-quote, %quote {
  font-family: 'Roboto Slab', serif;
  font-size: 1.125em;
  line-height: 1.33333;
  letter-spacing: 0.2px;
  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
    letter-spacing: 0.18px;
  }
  &.quote-large {
    font-size: 1.5em;
    font-weight: bold;
    @include media-breakpoint-up(lg) {
      font-size: 2.125em;
      line-height: 1.47;
    }
  }
}

.uc-subtitle {
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: $gray;
  font-weight: 500;
  &.subtitle-extended {
    letter-spacing: 2px;
  }
  @include media-breakpoint-up(lg) {
    line-height: 1.1;
    letter-spacing: 1px;
  }
}


