@import url('https://fonts.googleapis.com/css?family=Material+Icons|Roboto+Slab|Roboto:300,400,500,500i,700');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  &.link-inline {
    text-decoration: underline;
    color: $primaryblue;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 0;
  }
}

h1, %h1, .h1 {
  font-size: 2.5em;
  line-height: 1.3;
  font-weight: 700;
}

h2, %h2, .h2 {
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 0.25px;
  font-weight: 500;
}

h3, %h3, .h3 {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: 0.18px;
  font-weight: 700;
}

h4, %h4, .h4 {
  font-size: 1.25em;
  line-height: 1.2;
  letter-spacing: 0.25px;
  font-weight: 700;
}

h5, %h5, .h5 {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.76px;
}

h6, %h6, .h6 {
  font-size: 1.25em;
  letter-spacing: 0.25px;
  font-weight: 700;
}

p, %paragraph, .p {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.5px;
  &.large {
    font-size: 1.125em;
    line-height: 1.7;
  }
  &.small {
    font-size: 0.875em;
    line-height: 1.1;
  }
  &.gray {
    color: $gray;
  }
  &.condensed {
    letter-spacing: 0;
  }
}

.uc-link, %uc-link {
  font-size: 1em;
  color: $primaryblue;
  font-weight: 500;
  letter-spacing: 0.51px;
  .uc-icon {
    font-size: 19px;
    vertical-align: middle;
  }
  &.external {
    .uc-icon {
      font-size: 10px;
      vertical-align: top;
    }
  }
}

.uc-quote, %quote {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  line-height: 1.33333;
  letter-spacing: 0.18px;
  &.large {
    font-size: 2.125em;
    line-height: 1.47;
    font-weight: bold;
  }
}

.uc-subtitle {
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 1px;
  color: $gray;
  font-weight: 500;
}

.uc-tag {
  color: #fff;
  font-size: 0.875em;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: $primaryblue;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  align-self: flex-start;
  z-index: 2;
  transition: .2s ease;
  &:hover {
    color: #fff;
    background-color: $blue;
    text-decoration: none;
  }
}


