// mostrar focus en botones y links
a:focus, button:focus {
  outline: 2px solid rgba($primaryblue, .7);
  outline-offset: 2px;
}

.carousel-controls .prev:focus, .carousel-controls .next:focus {
  outline: 2px solid rgba($primaryblue, .7) !important;
  outline-offset: 4px;
}

// alineación de texto

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

// forzar mayúsculas

.uppercase {
  text-transform: uppercase;
}

// colores sólidos

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000 !important;
}

.color-blue {
  color: $primaryblue !important;
}

.color-blue-alt {
  color: $blue !important;
}

// triangulo para tooltips y dropdown
.white-triangle {
  width: 41px;
  height: 14px;
  position: absolute;
  overflow: hidden;
  top: -14px;
  left: 32px;
  &:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 9px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    z-index: 2;
    transform: rotate(45deg);
    box-shadow: $large-shadow;
    border-radius: $small-radius;
  }
}

.uc-container-break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

// utilities bootstrap 4

.img-fluid {
  max-width: 100%;
  height: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// Detector de ancho de scrollbar de David Walsh https://davidwalsh.name/detect-scrollbar-width
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}


// utilidades de altura y ancho 100%
.w-full {
  height: 100%;
}

.h-full {
  height: 100%;
}
