$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1246px
);
$grid-gutter-width: 32px;
// todo: trasladar esto a archivo de variables

// import bootstrap grid
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/grid";

// import local scss files
@import 'mixins';
@import 'color';
@import 'spacing';
@import 'typography';
@import 'borders';
@import 'shadows';
@import 'icons';
@import 'utilities';

// import components scss
@import 'components/buttons';
@import 'components/cards';
@import 'components/tabs';
@import 'components/pagination';
@import 'components/breadcrumb';
@import 'components/tables';
@import 'components/forms';
@import 'components/filters';
@import 'components/tooltips';
@import 'components/top-bar';
@import 'components/navbar';
