$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1246px
);
$grid-gutter-width: 32px;
// todo: trasladar esto a archivo de variables

// import bootstrap grid
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/grid";

// import local scss files
@import 'mixins';
@import 'color';
@import 'spacing';
@import 'typography';
@import 'borders';
@import 'shadows';

// import components scss
@import 'components/buttons';
@import 'components/cards';
@import 'components/tabs';
@import 'components/pagination';
@import 'components/breadcrumb';

hr.uc-hr {
  border: 0;
  height: 2px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA4IDEiPiAgPHBvbHlnb24gZmlsbD0iZ3JheSIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjAgMSAwIDAgMyAwIDMgMSIvPjwvc3ZnPg==) center center repeat;
}