<%- include('partials/header') %>
<script src="/js/agenda.js"></script>
<div class="container">
    <h2 class="mt-32">agenda slider</h2>
    <hr class="uc-hr my-28">
</div>
<div class="container">
    <div
    id="as"
        class="agenda-slider"
        base-url=""
        title_content=""
        types_of_activities=""
        organizers=""
        audience=""
        from=""
        to=""
        data-middle-date
        data-items="2"
    >
    </div>

    <div
    id="iiii"
        class="agenda-slider"
        base-url=""
        title_content=""
        types_of_activities=""
        organizers=""
        audience=""
        from=""
        to=""
        hide-tag
        hide-img
        data-items="2"
    >
    </div>
</div>


<%- include('partials/footer') %>
