<%- include('partials/header') %>
<script src="/js/agenda.js"></script>
<div class="container">
    <h2 class="mt-32">agenda rows</h2>
    <hr class="uc-hr my-28">
</div>
<div class="container">
    <div
        id="agenda-rows"
        sm="6"
        md="4"
    
        base-url=""
    
        page="1"

        title_content=""
        types_of_activities=""
        organizers=""
        audience=""
        from=""
        to=""
    
        hide-tag
        hide-img
    >
    </div>
</div>


<%- include('partials/footer') %>
