<%- include('partials/header') %>
<script src="/js/agenda.js"></script>
<div class="container">
    <h2 class="mt-32">agenda pagination</h2>
    <hr class="uc-hr my-28">
</div>
<div class="container">
    <div
        class="agenda-pagination"
        sm="6"
        md="6"
        base-url="https://google.com/agenda"
        limit="2"
        data-middle-date
        hide-tag
    >
    </div>
    
    <div
        class="agenda-pagination"
        sm="6"
        md="6"
        limit="2"
        hide-img
        data-type="tag"
    >
    </div>
</div>


<%- include('partials/footer') %>
