<%- include('partials/header') %>
	<div class="container">
		<h2 class="mt-32">agenda slider</h2>
		<hr class="uc-hr my-28">
	</div>
	<div class="container">
		<div 
			class="agenda-slider"
			id="slider-1" 
			base-url=""
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ" 
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers="" 
			data-audience="" 
			data-from="" 
			data-to="" 
			>
		</div>
	</div>

	<%- include('partials/footer') %>
