<%- include('partials/header') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-160">
                <h2 class="mt-32">Componentes del Kitdigital</h2>
                <hr class="uc-hr my-28">
                <h4 class="mb-32">Componentes en desarrollo (QA)</h4>
                <ul class="nav uc-navbar-side">
                    <li>
                        <a href="/sidenav.html" class="uc-navbar-side_label">
                            Menú Lateral
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                    </li>
                </ul>
                <h4 class="mt-60 mb-32">Componentes publicados</h4>
                <ul class="nav uc-navbar-side">
                    <li>
                        <a href="/menumobile.html" class="uc-navbar-side_label">
                            Menú mobile (ver en resolucion de teléfono)
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/cards.html" class="uc-navbar-side_label">
                            Cards
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/carousel.html" class="uc-navbar-side_label">
                            Carrusel
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/componentes.html" class="uc-navbar-side_label">
                            Lista de componentes
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/footer.html" class="uc-navbar-side_label">
                            Footer
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/globales.html" class="uc-navbar-side_label">
                            Globales
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/grids.html" class="uc-navbar-side_label">
                            Grids
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/header.html" class="uc-navbar-side_label">
                            Header
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/headermenu.html" class="uc-navbar-side_label">
                            Header Menú
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/interactivos.html" class="uc-navbar-side_label">
                            Interactivos
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/text.html" class="uc-navbar-side_label">
                            Textos
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <a href="/tabs.html" class="uc-navbar-side_label">
                            Tabs
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                    </li>
                </ul>
                <h4 class="mt-60 mb-32">Paginas de ejemplo</h4>
                <ul class="nav uc-navbar-side">
                    <li>
                        <a href="example-news-single.html" class="uc-navbar-side_label">
                            Noticia Single
                            <i class="uc-icon">keyboard_arrow_right</i>
                        </a>
                    </li>
                </ul>   
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>