<%- include('partials/header') %>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-160">
            <h2 class="mt-32">Componentes del Kitdigital</h2>
            <hr class="uc-hr my-28">
            <h4 class="mb-32">Componentes en desarrollo (QA)</h4>
            <ul class="nav uc-navbar-side">
                <li>
                    <a href="/sidenav.html" class="uc-navbar-side_label">
                        Menú Lateral
                    </a>
                </li>
            </ul>
            <h4 class="mt-60 mb-32">Componentes publicados</h4>
            <ul class="nav uc-navbar-side">
                <li>
                  <a href="/menumobile.html" class="uc-navbar-side_label">
                    Menú mobile (ver en resolucion de teléfono)
                </a>
                    <a href="/cards.html" class="uc-navbar-side_label">
                        Cards
                    </a>
                    <a href="/carousel.html" class="uc-navbar-side_label">
                        Carrusel
                    </a>
                    <a href="/componentes.html" class="uc-navbar-side_label">
                        Lista de componentes
                    </a>
                    <a href="/footer.html" class="uc-navbar-side_label">
                        Footer
                    </a>
                    <a href="/globales.html" class="uc-navbar-side_label">
                        Globales
                    </a>
                    <a href="/grids.html" class="uc-navbar-side_label">
                        Grids
                    </a>
                    <a href="/header.html" class="uc-navbar-side_label">
                      Header
                  </a>
                    <a href="/headermenu.html" class="uc-navbar-side_label">
                      Header Menú
                  </a>
                    <a href="/interactivos.html" class="uc-navbar-side_label">
                      Interactivos
                  </a>
                    <a href="/text.html" class="uc-navbar-side_label">
                      Textos
                  </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
