<%- include('partials/header') %>
	<div class="container">
		<h2 class="mt-32">Integración Agenda</h2>
		<hr class="uc-hr my-28">
		<h4 class="mt-32">Integración Agenda Paginador</h4>
		<div
			class="agenda-pagination"
			sm="6"
			md="6"
        	data-type="tag"
			hide-img
			data-base-url=""
			data-host="https://api.agenda.uc.asimov.cl"
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-limit="4"
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers="" 
			data-audience="" 
			data-from=""
			data-to=""
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
		>
		</div>
		<h4 class="mt-32">Integración Agenda Slider</h4>
		<!-- 
		<div 
			class="agenda-slider" 
			id="slider-1" 
			data-base-url=""
			data-host="https://api.agenda.uc.asimov.cl"
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers="" 
			data-audience="" 
			data-from=""
			data-to=""
			hide-tag
			hide-img
		>
		</div>
		<div 
			class="agenda-slider" 
			id="slider-2" 
			data-base-url=""
			data-host="https://api.agenda.uc.asimov.cl"
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers="" 
			data-audience="" 
			data-from=""
			data-to=""
			hide-tag
			hide-img
			featured
		>
		</div>
		<h4 class="my-32">Integración Agenda Rows</h4>
		
		<div 
			class="agenda-rows"
			id="row-1" 
			data-base-url=""
			data-host="https://api.agenda.uc.asimov.cl"
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-sm="6" 
			data-md="3" 
			data-page="1" 
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers=""
			data-audience="" 
			data-from="" 
			data-to="" 
			hide-tag 
			hide-img
		>
		</div>
		<h4 class="my-32">Integración Agenda Rows 2</h4>
		<div 
			class="agenda-rows"
			id="row-2" 
			data-base-url=""
			data-host="https://api.agenda.uc.asimov.cl"
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-sm="6" 
			data-md="3" 
			data-page="1" 
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers=""
			data-audience="" 
			data-from="" 
			data-to="" 
			hide-tag 
			hide-img
			featured
		>
		</div> -->
	</div>
<%- include('partials/footer') %>
