<%- include('partials/header') %>
	<div class="container">
		<h2 class="mt-32">Integración Agenda</h2>
		<hr class="uc-hr my-28">
		<h4 class="mt-32">Integración Agenda Slider</h4>

		<div 
			class="agenda-slider" 
			id="slider-1" 
			data-base-url=""
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers="" 
			data-audience="" 
			data-from=""
			data-to="">
		</div>

		<h4 class="my-32">Integración Agenda Rows</h4>
		<div 
			id="agenda-rows" 
			data-token="s1F4cfPwKPurccC0ZL04wG7wJgoiIB0i3oZnOfVugqCKvhiBEvdJUrIE8JmzfSHukf0T0mQkFCf2nKwZ"
			data-sm="6" 
			base-url="" 
			data-md="3" 
			data-page="1" 
			data-title-content="" 
			data-types-of-activities="" 
			data-organizers=""
			data-audience="" 
			data-from="" 
			data-to="" 
			hide-tag 
			hide-img>
		</div>
	</div>
<%- include('partials/footer') %>
