<%- include('partials/header') %>
	<div class="container">
		<div class="my-60">
			<h1>Componentes Kit UC</h1>
		</div>
		<h2 class="my-24">Radio Buttons</h2>
		<hr class="uc-hr my-40">
		<div class="row">
			<div class="col-md-6 uc-form-group">
				<div class="uc-form-check">
					<input id="radio2-1" tabindex="1" type="radio" value="select an op" name="radio2-group">
					<label for="radio2-1">
						Use radio buttons if the meaning of the empty checkbox isn’t obvious. In example below
					</label>
					<input id="radio2-2" type="radio" value="between these" name="radio2-group">
					<label for="radio2-2">
						Between these values
					</label>
					<input id="radio2-3" type="radio" value="between these" name="radio2-group" disabled>
					<label for="radio2-3">
						Between these values disable
					</label>
					<input id="radio2-4" type="radio" value="between these" name="radio2-group" checked>
					<label for="radio2-4">
						Other
					</label>
				</div>
			</div>
			<div class="col-md-6 uc-form-group">
				<div class="uc-form-check">
					<input id="radio-1" type="radio" value="select an op" name="radio-group">
					<label for="radio-1">
						Oranges
					</label>
					<input id="radio-2" type="radio" value="between these" name="radio-group">
					<label for="radio-2">
						Apples
					</label>
					<input id="radio-3" type="radio" value="between these" name="radio-group" disabled>
					<label for="radio-3">
						Lemons
					</label>
					<input id="radio-4" type="radio" value="between these" name="radio-group" disabled checked>
					<label for="radio-4">
						Celery
					</label>
				</div>
			</div>
			<div class="col-md-12 uc-form-group">
				<h2 class="my-24">Checkboxes</h2>
				<hr class="uc-hr my-40">
				<div class="uc-form-check">
					<input id="checkbox-1" type="checkbox" value="Select option" checked>
					<label for="checkbox-1">Tested in IE9+</label>
					<input id="checkbox-2" type="checkbox" value="minimal">
					<label for="checkbox-2">Minimal markup and SCSS</label>
					<input id="checkbox-3" type="checkbox" value="minimal" checked disabled>
					<label for="checkbox-3">Pure SCSS/CSS</label>
					<input id="checkbox-4" type="checkbox" value="minimal" disabled>
					<label for="checkbox-4">No Dependancies</label>
				</div>

			</div>
			<div class="col-md-12 uc-form-group mb-160">
				<h2 class="my-24">Switches</h2>
				<hr class="uc-hr my-40">
				<div class="uc-form-check uc-form-switch">
					<input class="toggle-checkbox" type="checkbox" id="switch-1">
					<label for="switch-1">
						Opcion normal
					</label>
					<input class="toggle-checkbox" type="checkbox" id="switch-2" disabled>
					<label for="switch-2">
						Opcion deshabilitada
					</label>
					<input class="toggle-checkbox" type="checkbox" id="switch-3" disabled checked>
					<label for="switch-3">
						Opcion deshabilitada y checkeada
					</label>
					<input class="toggle-checkbox" type="checkbox" id="switch-5">
					<label for="switch-5">
						Opcion text largo: Lorem, ipsum dolor sit amet consectetur adipisicing elit. A architecto enim, minima perspiciatis sed dolor ducimus repellat totam similique, dolorum, quisquam sequi provident? Veniam molestias perspiciatis corrupti hic. Tempora, impedit.
					</label>
					<input class="toggle-checkbox" type="checkbox" id="switch-4" checked>
					<label for="switch-4"></label>
				</div>
			</div>
		</div>
	</div>
	<%- include('partials/footer') %>
