<%- include('partials/header') %>
<div class="container">
    <h1>Texto</h1>
    <hr class="uc-hr">
    <h1>Lorem ipsum dolor sit amet.</h1> <br>
    <h2>Lorem ipsum dolor sit amet.</h2> <br>
    <h3>Lorem ipsum dolor sit amet.</h3> <br>
    <h4>Lorem ipsum dolor sit amet.</h4> <br>
    <h5>Lorem ipsum dolor sit amet.</h5> <br>
    <h6>Lorem ipsum dolor sit amet.</h6> <br>
    <p class="no-margin">Lorem ipsum dolor sit amet.</p>
    <div class="uc-subtitle">Subtitle</div>
    <a href="#">Body link</a>
    <p class="p-size--lg no-margin">Body blog</p>
    <p class="p-size--sm no-margin">Body pequeño</p>
    <p class="p-size--xl text-weight--bold no-margin">Bajada blog</p>
    <p class="p-text--condensed p-color--gray no-margin">Lorem ipsum dolor sit amet.</p>
    <p class="p-size--sm p-text--extended text-weight--medium no-margin">Body pequeño extendido</p>
    <div class="uc-subtitle subtitle-extended">Subtítulo extendido</div>
    <div class="uc-quote quote-lg">Cita Blog</div>
    <div class="uc-quote">Cita Normal</div>
</div>
<%- include('partials/footer') %>