// Componente Botón UC
.uc-btn {
  position: relative;
  line-height: 1;
  border: none;
  color: $primaryblue;
  border-radius: $small-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .2s ease;
  text-decoration: none;
  &.btn-primary {
    @extend .uc-link;
    display: flex;
    padding: 12px 16px;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    border: $primary-border;
    box-shadow: $primary-shadow;
    &:hover {
      border-color: $primaryblue;
      text-decoration: none;
    }
    &:active {
      background-color: $lightgrayc;
    }
  }
  &.btn-featured {
    border: $primary-border;
    box-shadow: $primary-shadow;
    @extend .uc-link;
    padding: 24px 16px;
    border-radius: 0 4px 4px 0;
    border-left: 2px solid $yellow;
    width: 100%;
    color: #000;
    .uc-icon {
      font-size: 16px;
    }
    &:hover {
      text-decoration: none;
      border: 1px solid $yellow;
      border-left: 2px solid $yellow;
    }
  }
  &.btn-cta {
    display: block;
    padding: 12px 16px;
    font-weight: 500;
    text-align: center;
    color: $blue;
    background-color: $yellow;
    &:hover {
      text-decoration: none;
      background-color: #E3AE00;
    }
  }
  &.btn-admission {
    border: 2px solid $yellow;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    .uc-icon {
      font-size: 10px;
    }
    &:hover {
      text-decoration: none;
      color: $primaryblue;
      background-color: #fff;
    }
  }
  &.btn-filter {
    padding: 8px;
    color: #000;
    border: $primary-border;
    box-shadow: $primary-shadow;
    border-radius: $medium-radius;
    .uc-icon {
      font-size: 12px;
      vertical-align: middle;
    }
    &:hover {
      text-decoration: none;
      background-color: $lightgrayc;
    }
  }
  &.btn-listed {
    width: 100%;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid $lightgraya;
    border-radius: 0;
    &:hover {
      text-decoration: none;
      background-color: $lightgrayc;
    }
    &:first-child {
      border-top: 1px solid $lightgraya;
    }
    .uc-icon {
      color: $primaryblue;
      &.icon-rounded {
        color: #fff;
      }
    }
  }
  &.btn-inline {
    display: inline-flex;
    .uc-icon {
      margin-left: 12px;
      transition: .2s ease;
    }
    &:hover {
      text-decoration: none;
      .uc-icon.icon-rounded {
        color: $blue;
        background-color: $yellow;
      }
    }
  }
}
