.uc-btn {
  position: relative;
  line-height: 1;
  border: none;
  color: $primaryblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .2s ease;
  @extend %smallradius;
  &.inline-btn {
    display: inline-flex;
  }
  &.primary {
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    @extend %primaryshadow;
    @extend %primaryborder;
    @extend %uc-link;
    &:hover {
      border-color: $primaryblue;
      text-decoration: none;
    }
    &:active {
      background-color: $lightgrayc;
    }
  }
  &.secondary {
    padding: 24px 16px;
    border-radius: 0 4px 4px 0;
    border-left: 2px solid $yellow;
    width: 100%;
    color: #000;
    @extend %uc-link;
    @extend %primaryshadow;
    @extend %primaryborder;
    .material-icons {
      font-size: 16px;
    }
    &:hover {
      text-decoration: none;
      border: 1px solid $yellow;
      border-left: 2px solid $yellow;
    }
  }
  &.admission {
    border: 2px solid $yellow;
    padding: 8px 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    .material-icons {
      font-size: 10px;
    }
    &:hover {
      text-decoration: none;
      color: $primaryblue;
      background-color: #fff;
    }
  }
  &.filter {
    padding: 8px;
    color: #000;
    @extend %primaryborder;
    @extend %primaryshadow;
    @extend %mediumradius;
    .material-icons {
      font-size: 12px;
      vertical-align: middle;
    }
    &:hover {
      text-decoration: none;
      background-color: $lightgrayc;
    }
  }
  &.bordered {
    padding: 20px;
    @extend %secondaryborder;
    &.large {
      padding: 20px 40px;
    }
    &:hover {
      background-color: $primaryblue;
      color: #fff;
      text-decoration: none;
      .material-icons {
        color: #fff;
      }
    }
  }
  &.btn-list {
    width: 100%;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid $lightgraya;
    border-radius: 0;
    &:hover {
      text-decoration: none;
      background-color: $lightgrayc;
    }
    &:first-child {
      border-top: 1px solid $lightgraya;
    }
    .material-icons {
      color: $primaryblue;
      &.rounded-background {
        color: #fff;
      }
    }
  }
}