.uc-carousel {
  position: relative;
  .uc-hero-carousel {
    .hero-carousel_item {
      width: 100%;
      height: 540px;
      overflow: visible;
      margin-bottom: 0;
      background-size: cover;
      background-position: center center;
      @include media-breakpoint-up(lg) {
        height: 660px;
        margin-bottom: 60px;
      }
    }
    .carousel-card {
      width: calc(100% - 30px);
      bottom: 80px;
      position: absolute;
      box-shadow: $large-shadow;
      @include media-breakpoint-up(md) {
        width: 80%;
        max-width: 640px;
      }
      .h1 {
        font-size: 24px;
        @include media-breakpoint-up(lg) {
          font-size: 2.5em;
        }
      }
      .uc-card_body--xl {
        padding: 24px;
        @include media-breakpoint-up(lg) {
          padding: 48px;
        }
      }
      @include media-breakpoint-up(lg) {
        bottom: -40px;
        margin-left: -48px;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .uc-carousel-nav {
    width: 100%;
    bottom: 10px;
    position: absolute;
    @include media-breakpoint-up(lg) {
      position: relative;
      bottom: 120px;
    }
    .carousel-nav-container {
      display: flex;
      justify-content: center;
    }
    .carousel-nav-list {
      padding: 0;
      display: flex;
      list-style-type: none;
      @include media-breakpoint-up(lg) {
        margin: 0;
        margin-left: auto;
      }
    }
    .carousel-nav-item {
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      font-weight: 700;
      margin-left: auto;
      color: rgba(255,255,255,0.35);
      transition: .3s ease;
      &:not(:first-child){
        margin-left: 24px;
      }
      .indicator {
        width: 32px;
        height: 2px;
        position: relative;
        background-color: rgba(255,255,255,0.35);
        transition: .3s ease;
        /*
        &:after {
          content: '';
          width: 0;
          height: 100%;
          position: absolute;
          background-color: #fff;
        }
        */
      }
      &.tns-nav-active {
        color: #fff;
        .indicator {
          background-color: #fff;
          /*
          &:after {
            animation: CarouselNav 5s linear forwards;
          }
          */
        }
        .indicator.paused:after {
          animation-play-state: paused;
        }
        .indicator.playing:after {
          animation-play-state: running;
        }
      }
    }
    .autoplay-buttons {
      margin-left: 24px;
      cursor: pointer;
      .uc-icon {
        color: #fff;
      }
    }
  }
}

.uc-carousel-cards {
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  right: 0;
  padding: 40px calc((100vw - 100%)/2);
  overflow-x: hidden;
  overflow-y: visible;
  .tns-ovh {
    overflow: visible;
  }
  .carousel-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
    .prev, .next {
      display: flex;
      cursor: pointer;
      &[aria-disabled="true"] {
        svg g {
          fill: $gray;
        }
      }
    }
    .prev {
      transform: rotate(-180deg);
    }
  }
}

.uc-carousel_index {
  color: $gray;
  font-size: 1em;
  margin: 0 20px;
  .current {
    color: $primaryblue;
  }
}

.carousel-track {
  width: calc(100% + 30px);
  height: 2px;
  margin-left: -15px;
  background-color: $lightgraya;
  margin-top: 28px;
  position: relative;
  .carousel-progress-indicator {
    width: 24px;
    height: 6px;
    border-radius: 3px;
    background-color: $primaryblue;
    position: absolute;
    top: -2px;
    transform: translateX(15px);
    transition: .2s ease;
  }
}

.featured-image-container {
  position: relative;
  display: flex;
  .uc-card-event-featured_image {
    width: 163%;
    height: 393px;
    margin-top: -47px;
    background-size: cover;
  }
}
