.uc-card {
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  @extend %primaryshadow;
  @extend %smallradius;
  // todo: agregar clase sin sombra - borde 8px
  .uc-card-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .uc-tag.fixed-tag {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  &.same-height {
    height: 100%;
  }
  &.horizontal-card {
    flex-direction: row;
  }
  &.special-card {
    background-color: $lightgrayc;
    transition: 100ms ease;
    cursor: pointer;
    &:hover {
      background-color: $primaryblue;
      text-decoration: none;
      color: #fff;
      .text-divider.primary {
        background-color: #fff;
      }
    }
  }
  &.background-image-card {
    min-height: 532px;
    .card-image {
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;
      left: 0;
    }
    .uc-card, .uc-tag {
      z-index: 2;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(96%,#08275c));
      background-image: linear-gradient(-180deg,transparent,#08275c 96%);
    }
  }
  &.event-card {
    overflow: visible;
    .event-date {
      position: absolute;
      top: -24px;
      left: 24px;
    }
  }
  &.event-date {
    background-color: #fff;
    border-top: 4px solid $primaryblue;
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    align-items: center;
    border-radius: 0 0 4px 4px;
    align-self: flex-start;
    @extend %primaryshadow;
    @extend %primaryborder;
    .day {
      font-size: 34px;
      font-weight: bold;
      line-height: 1.1;
      margin-right: 12px;
    }
    .month {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .uc-event-content {
    margin-top: 20px;
    .date, .time, .venue {
      margin: 0;
      margin-bottom: 6px;
      padding-left: 20px;
      position: relative;
      &:before {
        font-family: 'Material Icons';
        font-size: 14px;
        vertical-align: middle;
        position: absolute;
        left: 0;
      }
    }
    .date {
      &:before {
        content: 'date_range';
      }
    }
    .time {
      &:before {
        content: 'access_time';
      }
    }
    .venue {
      &:before {
        content: 'location_on';
      }
    }
  }
}
a.uc-card {
  &:hover {
    color: inherit;
  }
}
