.uc-collapse {
  border-radius: 0 4px 4px 0;
  border-left: 0;
  .uc-collapse_heading {
    box-shadow: $primary-shadow;
    display: flex;
    line-height: 1;
    padding: 30px 22px;
    border-left: 4px solid $primaryblue;
    color: inherit;
    text-decoration: none;
    > * {
      pointer-events: none;
    }
    .uc-icon.icon-rounded {
      transition: .2s ease;
    }
    &:hover {
      text-decoration: none;
      .uc-icon.icon-rounded {
        color: #173F8A;
        background-color: #FEC60D;
      }
    }
    &:focus {
      outline: none;
    }
    &.js-accordion-active-element {
      .uc-icon.icon-rounded {
        color: #173F8A;
        background-color: #FEC60D;
        transform: rotate(180deg);
      }
    }
  }
  .uc-collapse_body {
    transition: height .25s linear;
  }
}

.uc-accordion {
  box-shadow: $primary-shadow;
  .uc-collapse {
    border-radius: 0;
    box-shadow: none;
    border-top: 0;
    &:first-child {
      border-top: 1px solid #EAEAEA;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
    }
    .uc-collapse_heading {
      box-shadow: none;
    }
    .uc-collapse_body {
      border-left: 1px solid #EAEAEA;
      box-shadow: inset 0 1px 0 #EAEAEA;
    }
  }
}
