.uc-collapse {
  border-radius: 0 4px 4px 0;
  border-left: 0;
  .uc-collapse-heading {
    display: flex;
    line-height: 1;
    padding: 30px 22px;
    border-left: 4px solid $primaryblue;
    @extend %primaryshadow;
  }
}
