.uc-collapse {
  border-radius: 0 4px 4px 0;
  border-left: 0;
  .uc-collapse-heading {
    display: flex;
    line-height: 1;
    padding: 30px 22px;
    border-left: 4px solid $primaryblue;
    @extend %primaryshadow;
    &:hover {
      text-decoration: none;
      .uc-icon.rounded-background {
        color: #173F8A;
        background-color: #FEC60D;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .uc-collapse-body {
    transition: all .25s linear;
  }
}

.uc-accordion {
  @extend %primaryshadow;
  .uc-collapse {
    border-radius: 0;
    box-shadow: none;
    border-top: 0;
    &:first-child {
      border-top: 1px solid #EAEAEA;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
    }
    .uc-collapse-heading {
      box-shadow: none;
    }
    .uc-collapse-body {
      border-left: 1px solid #EAEAEA;
      box-shadow: inset 0 1px 0 #EAEAEA;
    }
  }
}
