.uc-filters {
  padding: 24px;
  background-color: $lightgrayc;
  display: flex;
  @extend %smallradius;
}

.uc-alphabetic-filter {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
  .letter-filter {
    font-size: 14px;
    padding: 9px 11px;
    color: $primaryblue;
    background-color: #fff;
    border: 1px solid transparent;
    @extend %smallradius;
  }
}
