.uc-footer {
  padding: 28px 0;
  padding-bottom: 0;
  background-color: #03122E;
  font-size: 14px;
  color: #fff;
  @include media-breakpoint-up(lg) {
    padding-top: 80px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  &_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 8px;
      font-size: 14px;
      a {
        text-decoration: underline;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  &_list-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    &.footer-collapse-title {
      border-top: 1px solid #fff;
      position: relative;
      padding: 17px 0;
      &:after {
        content: 'keyboard_arrow_down';
        font-family: "Material Icons";
        position: absolute;
        font-size: 24px;
        right: 0;
        top: 9px;
        text-transform: none;
      }
      @include media-breakpoint-up(lg) {
        border: 0;
        padding-top: 0;
        &:after {
          content: '';
        }
      }
    }
  }
  .acreditado {
    img {
      max-width: 130px;
    }
  }
  &_help {
    background-color: $primaryblue;
    padding: 48px 0;
    color: #fff;
    a {
      text-decoration: underline;
    }
  }
  .footer-collapse {
    overflow: hidden;
    transition: height .25s linear;
    @include media-breakpoint-up(lg) {
      height: auto !important;
    }
  }
  .uc-icon {
    color: #fff;
  }
}
