.uc-grid-explore {
  height: 512px;
  display: grid;
  grid-template-columns: 56% auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 4px;
  .item-featured {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.uc-grid-squares {
  height: 346px;
  display: grid;
  grid-template-columns: [col-start] auto auto [col-end];
  grid-template-rows: [row-start] auto [row-end];
  grid-gap: 20px;
  .single-item {
    grid-column: col-start / col-end;
    grid-row: row-start / row-end;
  }
  .block-item {
    grid-column: col-start / col-end;
  }
}

.uc-pentagrid {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 32px;
  :first-child {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.uc-univeristy-grid {
  height: 570px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4px;
  :first-child {
    grid-column: 1 / 2;
    grid-row: 1 / end;
  }
}

// todo: agregar prefixes para IE
