.uc-image-quote {
  &.image-left {
    .uc-image-quote_image {
      width: 180%;
      height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &.image-right {
    .uc-card {
      width: 125%;
      z-index: 2;
    }
    .uc-image-quote_image {
      height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &.image-nested {
    .uc-image-quote_image {
      position: relative;
      height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 32px;
      display: flex;
      align-items: flex-end;
      .uc-card {
        max-width: 590px;
        position: absolute;
        right: 32px;
      }
    }
  }
}
