.uc-image-quote {
  &.image-left {
    .image {
      width: 180%;
      height: 600px;
      background-size: cover;
    }
  }
  &.image-right {
    .uc-card {
      width: 125%;
      z-index: 2;
    }
    .image {
      height: 600px;
      background-size: cover;
    }
  }
  &.image-nested {
    .image {
      position: relative;
      height: 600px;
      .uc-card {
        position: relative;
        right: 24px;
        bottom: 24px;
      }
    }
  }
}
