.uc-alert {
  position: relative;
  background-color: #fff;
  @include small-radius;
  @include message-shadow;
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0.6;
  }
  .uc-alert-body {
    padding: 48px;
  }
  &.yellow-warning {
    border-top: 4px solid $warning;
    .warning-icon {
      vertical-align: text-bottom;
      color: $warning;
      font-size: 34px;
    }
  }
  &.red-warning {
    border-top: 4px solid $error;
    .warning-icon {
      vertical-align: text-bottom;
      color: $error;
      font-size: 34px;
    }
  }
}

.uc-modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.uc-modal-content {
  margin: auto;
  width: 80%;
}

.uc-message {
  border: 1px solid;
  padding: 7px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.error {
    border-color: $error;
    background-color: rgba($error, .1);
    .uc-icon {
      color: $error;
    }
  }
  &.warning {
    border-color: $warning;
    background-color: rgba($warning, .1);
    .uc-icon {
      color: $warning;
    }
  }
  &.info {
    border-color: $info;
    background-color: rgba($info, .05);
    .uc-icon {
      color: $info;
    }
  }
  &.success {
    border-color: $success;
    background-color: rgba($success, .1);
    .uc-icon {
      color: $success;
    }
  }
  .uc-message-close .uc-icon {
    color: $gray;
  }
}
