.uc-message {
  position: relative;
  background-color: #fff;
  @extend %smallradius;
  @extend %messageshadow;
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0.6;
  }
  .uc-message-body {
    padding: 48px;
  }
  &.yellow-warning {
    border-top: 4px solid $darkyellow;
    .warning-icon {
      vertical-align: text-bottom;
      color: $darkyellow;
      font-size: 34px;
    }
  }
  &.red-warning {
    border-top: 4px solid $red;
    .warning-icon {
      vertical-align: text-bottom;
      color: $red;
      font-size: 34px;
    }
  }
}

.uc-modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.uc-modal-content {
  margin: auto;
  width: 80%;
}

