.uc-dropdown {
  position: relative;
}

.uc-dropdown_list {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  box-shadow: $menu-shadow;
  padding: 12px 24px;
  min-width: 210px;
  top: 30px;
  border-radius: $small-radius;
  .uc-btn {
    color: $blue;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .uc-dropdown_list-item {
    border-bottom: 1px solid #EDEDED;
    &:last-child {
      border-bottom: 0;
    }
    .uc-btn {
      padding: 12px 0;
      border-bottom: 1px solid transparent;
    }
  }
  &.show {
    display: block;
  }
}

