.uc-navbar {
  padding: 80px 0;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 8px 0 rgba(136,136,136,0.18);
  .row {
    align-items: center;
    justify-content: space-between;
  }
  .navbar-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: $blue;
    line-height: 1.2;
  }
  .uc-navbar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    .nav-item {
      padding: 0 8px;
      &:first-child {
        padding-left: 0;
      }
      .uc-link {
        color: $blue;
      }
    }
  }
}
