.uc-table {
  thead {
    tr {
      th {
        color: #fff;
        padding: 14px 16px;
        background-color: $primaryblue;
        @extend .h1;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 16px;
      }
      &:nth-child(even) {
        background-color: $lightgrayc;
      }
    }
  }
}

.uc-table-list {
  display: flex;
  .uc-table-list-title {
    min-width: 280px;
    border-top: 4px solid $primaryblue;
    padding-top: 24px;
  }
  .uc-table-list-content {
    border-top: 4px solid $lightgraya;
    padding: 24px;
    flex-grow: 1;
  }
}
