.uc-table {
  thead {
    tr {
      th {
        color: #fff;
        padding: 14px 16px;
        background-color: $primaryblue;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 16px;
      }
      &:nth-child(odd) {
        background-color: $lightgrayc;
      }
    }
  }
  &.table-wide {
    width: 100%;
  }
}
