.uc-tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 24px;
  border-bottom: 2px solid $lightgraya;
  color: $lightgraya;
  .uc-tabs_item {
    color: $darkgray;
    transition: background-color 100ms ease;
    &:active {
      background-color: $lightgrayc;
    }
  }
  .uc-tabs_item_link {
    font-size: 16px;
    padding: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: -2px;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $darkgray;
      text-decoration: none;
      border-bottom: 2px solid $primaryblue;
    }
    &.active {
      color: #000;
      text-decoration: none;
      border-bottom: 2px solid $primaryblue;
      &:hover {
        color: #000;
      }
    }
  }
}
