.uc-tooltip {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 300px;
  transition: .3s ease;
  background-color: #fff;
  z-index: 1;
  @include large-shadow;
  @include small-radius;
  .uc-tooltip_body {
    padding: 24px;
  }
}
