.uc-tooltip-content {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted;
  &:hover {
    .uc-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.uc-tooltip {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  min-width: 180px;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: .3s ease;
  background-color: #fff;
  z-index: 1;
  @extend %largeshadow;
  @extend %smallradius;
  .tooltip-body {
    padding: 24px;
  }
}

.box-tooltip {
  position: absolute;
  background-color: blue;
}
