.uc-top-bar {
  padding: 8px 0;
  background-color: $blue;
  color: #fff;
  .uc-link {
    color: #fff;
    line-height: 1.1;
    padding-right: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
    .uc-icon {
      color: #fff;
    }
    &:not(:first-child) {
      border-left: 1px solid #8B9FC4;
      padding-left: 10px;
      margin-right: 8px;
      padding-right: 0;
    }
  }
  .mobile-logo img {
    min-width: 185px;
  }
  .uc-top-bar_links {
    justify-content: space-between;
  }
}
